.treatment-card {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 250, 245);
    border-radius: 30px;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 250px;
    /* cursor: pointer; */
    transition: all 0.3s ease-in-out;
}

/* .treatment-card:hover {
    scale: 1.05;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
} */

.treatment-card-section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    h2 {
        font-size: 25px;
    }
}

.treatment-card-section-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.treatment-card-type-tag {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: bold;
}

.base {
    background-image: linear-gradient(to right, #f5f5f5, #f8f8f8);
    color: rgba(0, 0, 0, 0.7);
}

.add-on {
    background-image: linear-gradient(to right, #738144, #76cd80);
    color: white;
}

.package {
    background-image: linear-gradient(to right, #cba603, #f5e174);
    color: white;   
}

.treatment-card-category-tag {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 20px;
    opacity: 0.7;
    font-weight: bold;
}

.treatment-card-popular-tag {
    background-image: linear-gradient(to right, #3a1174, #8e228b, #8e228b);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
    gap: 5px;
}

.treatment-card-section-3 {
    flex-grow: 1;
    display: flex;
    align-items: center;

    p {
        color: gray;
    }

    /* p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } */
}

.treatment-card-section-4 {
    display: flex;
    margin: 10px 0;
    gap: 10px;
}

.treatment-card-duration {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(45, 70, 50);
    border-radius: 10px;
    width: 50%;
    padding: 10px 0;
    justify-content: center;
    background-color: rgb(90, 140, 100);
    color: white;
    font-weight: bold;
}

.treatment-card-price {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(100, 85, 65);
    border-radius: 10px;
    width: 50%;
    padding: 10px 0;
    justify-content: center;
    background-color: rgb(200, 170, 130);
    color: white;
    font-weight: bold;
}
